<div class="bg-dark mt-4 p-4">
  <form method="GET" action="">
    <div class="form-group">
      <label for="search-input" class="text-white">Email address</label>
      <input type="text" class="form-control" id="search-input" name="q" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>