<div>
  user Detail 
    <div class="col-md-4">
      <div class="card " style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{collaborators.name}}</h5>
          <p class="card-text">Age: {{collaborators.age}}</p>
          <p class="card-text">address: {{collaborators.address}}</p>
          <a class="text-decoration-none" href="/user/{{collaborators.slug}}"><button class="btn btn-info">Xem chi tiết</button></a>
          
        </div>
      </div>
    </div>
</div>